.vantagens-bg{
    background-color: var(--cor-12);
}

.vantagens-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px 0px;
}

.vantagens-conteudo{
    display: grid;
    gap: 10px;
}

@media (max-width:800px){
    .vantagens-item{
        grid-template-columns: 1fr 1fr;
        padding: 20px 40px;
    }
}

@media (max-width:600px){
    .vantagens-item{
        grid-template-columns: 1fr;
        padding: 20px;
    }
}